:root {
    --bg-beige: #f5efdf;
    --text-dark-green: #25563d;
    --input-border: #bfb39a;
    --button-bg: #25563d;
    --button-text: #ffffff;
    --solar-blue: #75a599;
    --tree-green: #699a6d;
    --light-green-bg: #a6c298;
    --very-light-green: #d5e9c7;
    --sun-yellow: #f8cc72;
}